Package: com.yaowei.flexinjected
Name: FlexInjected
Depends: mobilesubstrate, preferenceloader (>= 2.2.4~alpha1), applist (>= 1.5.14)
Version: 2018.12.1
Architecture: iphoneos-arm
Description: Flipboard/FLEX (b64cd37, 23 Nov 2018) Injector for iOS 11 and below
Maintainer: lingyohunl, Chong Yao Wei
Author: lingyohunl
Section: Tweaks
